/*
CSS rules for error messages for under/over 140 characters
*/

#error-msg-under {
  display: none;
}

#error-msg-under {
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 50px;
  font-weight: bold;
  color: red;
}

#error-msg-over {
  display: none;
}

#error-msg-over {
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 50px;
  font-weight: bold;
  color: red;
}


/*
CSS for single tweet container
*/
.tweet {
  display: flex;
  flex-flow: column;
  width: 100%;
  border: solid grey;
  border-radius: 25px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 15px;
  transition: box-shadow .3s ease-in-out;
}

.tweet:hover #user-handle {
  visibility: visible;
}

#hover:hover {
  box-shadow: 0 10px 10px 0 #d7853d;
}

.tweet header {
  display: flex;
  align-items: center;
}

#name {
  margin-left: 10px;
}

#user-handle {
  margin-left: auto;
  font-weight: normal;
  color: #4056A1;
  font-weight: bold;
  padding: 20px;
  visibility: hidden;
}

.footer {
  display: flex;
  align-items: flex-end;
  border-top: solid grey;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
}

#flag {
  margin-left: auto;
  margin-right: 1em;
  color: #4056A1;
}

#retweet {
  margin-right: 1em;
  color: #4056A1;
}

#heart {
  color: #4056A1;
}





