/*
CSS for Compose A New Tweet Container
*/

.container {
  display: flex;
  flex-wrap: wrap;
}

.new-tweets {
  display: none;

}

.new-tweet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-wrap: break-word;
}

textarea {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid grey;
  resize: none;
}

input[value] {
  font-family: "Bungee";
  color: white;
  background-color: #4056A1;
}

#counter {
  float: right;
  font-family: "Bungee";
}

textarea[placeholder] {
  font-weight: bold;
}


